h1 {
    text-align: center;
}
.row {
    width: 100%;
    text-align: center;
    margin: 0;
    padding: 2px;
    align-items: center;
    }

    .col-lg-1, .col-lg-2, .col-lg-3, .col-lg-4, .col-lg-5,
.col-lg-6, .col-lg-7, .col-lg-8,
.col-lg-9, .col-lg-10, .col-lg-11, .col-lg-12 {
    background-color: rgb(0, 149, 154);
    color: white;
    padding: 14px;
    margin-bottom: 4px;
    margin-right: 4px;
    border: 2px solid black;
    float: left;
}
    /* Large devices */
    @media (min-width: 992px) {
    .col-lg-1, .col-lg-2, .col-lg-3, .col-lg-4, .col-lg-5, .col-lg-6, .col-lg-7, .col-lg-8,
    .col-lg-9, .col-lg-10, .col-lg-11, .col-lg-12 {
        border: 2px solid black;
    }
    .col-lg-1 {
    width: 27%;
    }
    .col-lg-2 {
    width: 27%;
    }
    .col-lg-3 {
    width: 27%;
    }
    .col-lg-4 {
    width: 27%;
    }
    .col-lg-5 {
    width: 27%;
    }
    .col-lg-6 {
    width: 27%;
    }
    .col-lg-7 {
    width: 27%;
    }
    .col-lg-8 {
    width: 27%;
    }
    .col-lg-9 {
    width: 27%;
    }
    .col-lg-10 {
    width: 27%;
    }
    .col-lg-11 {
    width: 27%;
    }
    .col-lg-12 {
    width: 27%;
    }
    }
    /* Medium devices */
    @media (min-width: 768px) and (max-width: 992px) {
    .col-md-1, .col-md-2, .col-md-3, .col-md-4, .col-md-5, .col-md-6, .col-md-7, .col-md-8,
    .col-md-9, .col-md-10, .col-md-11, .col-md-12 {
    border: 2px solid black;
    }
    .col-md-1 {
    width: 45%;
    }
    .col-md-2 {
    width: 45%;
    }
    .col-md-3 {
    width: 94.50%;
    }
    .col-md-4 {
    width: 45%;
    }
    .col-md-5 {
    width: 45%;
    }
    .col-md-6 {
    width: 94.50%;
    }
    .col-md-7 {
    width: 45%;
    }
    .col-md-8 {
    width: 45%;
    }
    .col-md-9 {
    width: 94.50%;
    }
    .col-md-10 {
    width: 45%;
    }
    .col-md-11 {
    width: 45%;
    }
    .col-md-12 {
    width: 94.50%;
    }
    }